@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

/* basic css for body */

body {
    background: lightgrey;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
}

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

/* Main heading */
#first-heading {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* text */
p {
    letter-spacing: 3px;
    text-align: center;
}

#pone {
    letter-spacing: 3px;
    text-align: center;
    display: none;
    align-items: stretch;
    align-content: center;
}

/* Section holder for the exercise and button divs */
.section-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.exercise-holder {
    max-width: 100vw;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

/* heading for exercises divs */
#leg-head {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: none;
}

#press-head {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: none;
}

#pull-head {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: none;
}

#core-head {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: none;
}

#cond-head {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    display: none;
}

/* exercise divs */
.flex-div {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

/* ids for legs */
#squat {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#calf-raise {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#kb-swing {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#deadlift {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#rear-lunge {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for core */
#toestobar {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 5px;
    justify-content: space-between;
    flex-direction: row;

}

#plank-weighted {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 5px;
    justify-content: space-between;
    flex-direction: row;

}

#cable-twist {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 5px;
    justify-content: space-between;
    flex-direction: row;

}

#hyperex {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 5px;
    justify-content: space-between;
    flex-direction: row;

}

#side-bend {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 5px;
    justify-content: space-between;
    flex-direction: row;

}

/* ids for press */
#bench-press {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#military-press {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#cable-crossover {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#triceps-dips {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#lateral-raises-shoulder {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for pull */
#chin-ups {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#barbell-row {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#dumbbell-curl {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#incline-row {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#cable-y-raise {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* conditioning */
#burpees {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;

}

#ski-erg {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;

}

#battle-rope {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#m-climber {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#thruster {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* buttons */
.showhidebtn {
    text-align: center;
    height: 40px;
    width: 250px;
    border: 2px solid darkslategray;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* footer */
footer {
    height: 125px;
    background: fixed lightgray;
    flex: content;
}

footer h3 {
    color: black;
    text-align: center;
    padding: 10px;
}

.contacts {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contacts>li {
    color: black;
    list-style-type: none;
    font-size: 120%;
}

.contacts i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}