@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

/* basic css for body */

body {
    background: lightgrey;
    font-family: Lato, sans-serif;
    letter-spacing: 3px;
}

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
    font-size: xx-large;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

/* form styling */

/* text */
p {
    letter-spacing: 3px;
    text-align: center;
}

/* Section holder for the exercise divs */
.section-holder {
    display: inline-block;
}

/* exercise divs */
.flex-div {
    display: inline-block;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for legs */
#squat {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#calf-raise {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#kb-swing {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#deadlift {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#rear-lunge {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for abs */
#toestobar {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

#plank-weighted {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for press */
#bench-press {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ids for pull */
#chin-ups {
    width: 300px;
    overflow: hidden;
    display: none;
    margin: 4px;
    justify-content: space-evenly;
    flex-direction: row;
}

/* buttons */
.showhidebtn {
    text-align: center;
    width: 300px;
    border: 1px solid gray;
    margin: 4px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* footer */
footer {
    height: 125px;
    background: fixed lightgray;
    flex: content;
}

footer h3 {
    color: black;
    text-align: center;
    padding: 10px;
}

.contacts {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.contacts>li {
    color: black;
    list-style-type: none;
    font-size: 120%;
}

.contacts i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}